*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: antiquewhite;
    height: 6rem;

}
.navbar_item{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 1.1rem;
}
.navbar_links{
    color: black;
    text-decoration: none;
}
.navbar_links:active{
    color: limegreen;
}
.navbar_logo{
    float: left;
    margin-right: auto;
    margin-left: 3rem;
    padding: 0.9rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: limegreen;
}
.navbar_menu{
    margin-right: 3rem;
}
