.modals{
    display: flex;
    margin: 2% 5% 2% 5%;
}
.recipe-modal{
    display: flex;
    margin: auto;
}
figure {
    border-radius: 1rem;
    margin: auto;
    cursor: pointer;
}
figure:hover {
    box-shadow: 0 0 23px rgba(33,33,33,.2);
}
.recipe-image{
    height: 280px;
    width: 420px;
    overflow: hidden;
    border-radius:1rem;
}
.image-text{
    display: flex;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 5%;
    text-align: left;
}
.fig-description{
    margin: 5%;
}
.fig-descr-header{
    font-size: 4rem;
    padding-bottom: 5%;
}
.fig-icon{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 5%;
}
.fig-text{
    margin-left: 5%;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.modal-window {

    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
}
.modal-window-content{
    width: 100%;
}
.modal-content-window-img{
    width: 100%;
}
.modal-window-content-heading{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 5%;
}
.modal-window.small {
    width: 75%;
}
.modal-window.large {
    width: 75%;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.3);
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    text-align: center;
}
.close:hover, .close:focus {
    color: #FC4600;
    cursor: pointer;
}
.open {
    display: block;
}
.figure-button{ cursor:pointer; padding: 15px; font-size: 2rem; background: #FC4600; color: #FFF; border: none; font-family: 'Righteous', cursive }
